<h1>Places</h1>

<% if session["user_id"] %>
  <p>
    <a class="btn btn-primary mb-3" href="/places/new">New Place</a>
  </p>
<% end %>

<ul>
  <% @places.each do |place| %>
    <li>
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>
